.dynamic-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    @media (max-width: 1300px){
      display: none;
    }

  .cv-header{
    max-width: 1320px;
    margin: 0 auto;
    min-height: 50px;
    height: 130px;
    display: flex;
    & > aside {
      flex: 0 0 400px;
      background-color: #1B4DA1;
      padding: 15px;
      height: 130px;
      & > div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        img {
          width: 100px;
          height: 100px;
        }
        h1 {
          margin: 0;
          color: white;
        }
      }
    }
  }
}